body
{
	border: 15px solid #bdc3c7;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10px;
	font-family: "source sans pro";
	padding: 0.8em;
}



.date
{
	text-transform: uppercase;
	/*font-variant: 1.5px;*/
	font-family:"source sans pro";
	color:#3498db;
	letter-spacing: 1.5px;
	/*padding-left: 0.4em;*/
}
h2
{
	text-transform: capitalize;
	font-weight: bold;

	/*padding: 0.4em;*/
}
.fpara
{
	border-left:5px solid #bdc3c7;
	padding-left: 3px;
	/*height: 10px;*/
	/*width:10px;*/
}
#horizontal
{
	border-bottom:0.2px solid #bdc3c7;
	margin-bottom: 20px;
}